body{
	font-family: 'Fira Sans', sans-serif;
}
.passionImage{
	display:block;
	margin:0 auto;
	width:200px;
	height:300px;
}

#basketballImg{
	display:block;
	margin:0 auto;
	width:403px;
	height:300px;
}

#riceImg{
  display:block;
  margin:0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width:208px;
  height:250px;
}

#hcssImg{
  display:block;
  margin:0 auto;
  width:318px;
  height:300px;
}

#fordImg{
  display:block;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width:393px;
  height:150px;
}

#kempnerImg{
  display:block;
  margin:0 auto;
  width:300px;
  height:300px;
}

#messengerImg{
  display:block;
  margin:0 auto;
  width:300px;
  height:300px;
}

#billImg{
  display:block;
  margin:0 auto;
  margin-top: 52.5px;
  margin-bottom: 52.5px;
  width:400px;
  height:195px;
}

#backpackImg{
  display:block;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width:271px;
  height:200px;
}

#nbaImg{
  display:block;
  margin:0 auto;
  width:253px;
  height:300px;
}

#wikiImg{
  display:block;
  margin:0 auto;
  width:300px;
  height:300px;
}

.hero-image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./media/prashanthPai.JPG");
  padding-top:1250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#grad1 {
  height: 600px;
  background-color: rgb(76, 161, 175); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(76, 161, 175), rgb(196,224,229)); /* Standard syntax (must be last) */
}

#grad2 {
  height: 700px;
  background-color: rgb(196,224,229); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(196,224,229), rgb(76, 161, 175)); /* Standard syntax (must be last) */
}

#grad3 {
  height: 900px;
  background-color: rgb(76, 161, 175); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(76, 161, 175), rgb(196,224,229)); /* Standard syntax (must be last) */
}
